

div.info-dev {
    background: var(--background-main-content, black);
    color: var(--h-color, white);
    transition: all 200ms ease-in-out;
    border-bottom: 0.2px solid var(--border-color);
}

div.info-dev h1 {
    font-size: 14px;
    text-transform: lowercase;
    font-weight: 100;
    opacity: 0.6;
    padding: 0.2rem 2rem;
}
