
nav {
    position: static;
    top: 0;
    background: var(--background-header, black);
    color: var(--h-color, white);
    transition: all 200ms ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    list-style-type: none;
    gap: 1rem;
}

nav ul li:first-child {
    flex: 1;
}

nav ul li:nth-child(n+2) {
    cursor: pointer;
    text-transform: lowercase;
    position: relative;
    transition: all 200ms ease-in-out;
}

nav ul li:nth-child(n+2):not(:last-child)::after {
    content: '';
    position: absolute;
    translate: -50% -50%;
    top: 100%;
    left: 50%;
    width: 0;
    border-bottom: 0px solid;
    transition: all 500ms ease-in-out;
}

nav ul li:nth-child(n+2):not(:last-child):hover::after  {
    border-bottom: 0.5px solid;
    width: 100%;
}

nav ul li:nth-child(n+2):active  {
    transform: scale(0.9);
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li a:focus, nav ul li a:active, nav ul li a:visited {
    text-decoration: none;
    color: inherit;
}